* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Teko';
    src: url('Teko/Teko-Bold.woff2') format('woff2'),
        url('Teko/Teko-Bold.woff') format('woff'),
        url('Teko/Teko-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('Teko/Teko-Medium.woff2') format('woff2'),
        url('Teko/Teko-Medium.woff') format('woff'),
        url('Teko/Teko-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('Teko/Teko-Light.woff2') format('woff2'),
        url('Teko/Teko-Light.ttf') format('truetype'),
        url('Teko/Teko-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('Teko/Teko-Regular.woff2') format('woff2'),
        url('Teko/Teko-Regular.ttf') format('truetype'),
        url('Teko/Teko-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('Teko/Teko-SemiBold.woff2') format('woff2'),
        url('Teko/Teko-SemiBold.ttf') format('truetype'),
        url('Teko/Teko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.navbar {
    background:#36343b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
} 

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding-top: 5px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 50px;
}

.navbar__links {
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar__links:hover{
    color: #c175ff;
    transition: all 0.3s ease;
    
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 50px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #36343b;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main Section */
.main {
    background-color: #fff;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90%;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
}

.main__img--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

#main__img {
    margin-top: 100px;
    height: 90%;
    width: 90%;
}

.main__content {
    color: #fff;
    width: 100%;
    margin-bottom: 6rem;
}

.main__content h1 {
    margin-top: 60px;
    font-size: 5rem;
    color: #493485;
}

.main__content h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #616060;
}

.main__content p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: justify;
    color: #575656;
}


/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: block;
        margin: 0 auto;
        padding: 30px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }


    .main__content h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 690px) {
    .main__content h1{
        font-size: 2rem;
    }

    .main__content h2 {
        font-size: 1.7rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    .main__img--container {
        text-align: center;
    }
}

/* Summary Section */
.summary {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
}

.summary h1 {
    font-size: 4rem;
    color: #493485;
}

.summary h1:nth-child(3){
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 200;
    color: #616060;
}

.summary__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.summary__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #616060;
    background-image: linear-gradient(to right, #d4f0e2 0%, #e8f7f3 100%);
    transition: 0.3s ease-in;
}

.summary__card:nth-child(4) {
    background-image: linear-gradient(to right, #6cdaa4 0%, #90e4c4 100%);
}

.summary__card h2 {
    color: #3f3f3f;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 2.7rem;
}

.summary__card p {
    text-align: center;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.7rem;
}

.summary__card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

.summary__img--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

#summary__img1 {
    height: 100%;
    width: 100%;
}

#summary__img2 {
    margin-top: 30px;
    height: 100%;
    width: 55%;
}

#summary__img3 {
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

#summary__img4 {
    height: 110%;
    width: 80%;
}

@media screen and (max-width: 1300px) {
    .summary h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .summary__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .summary__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 690px) {
    .summary h1 {
        font-size: 2rem;
        text-align: center;
    }

    .summary h1:nth-child(3){
        font-size: 1.5rem;
        text-align: center;
    }
}



/* Solution Section */
.solution {
    margin-top: -50px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 6rem 0;
}

.solution h1 {
    font-size: 4rem;
    color: #493485;
}

.solution h1:nth-child(3){
    padding: 10px 0;
    font-size: 3rem;
}

.solution__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.solution__card {
    display: grid;
    margin: 10px;
    height: 450px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: #616060;
    background-image: linear-gradient(to right, #e9ebc0 0%, #f0f1db 100%);
    transition: 0.3s ease-in;
}

.solution__card h1 {
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
    text-align: right;
    font-size: 2.5rem;
}

.solution__card h2 {
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.3rem;
}

.solution__card p {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: justify;
    color: #575656;
}

.solution__card:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

.solution__img--container {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

#solution__img1 {
    margin-top: -15px;
    margin-right: 15px;
    height: 85%;
    width: 85%;
}

#solution__img2 {
    margin-top: -17px;
    margin-bottom: -15px;
    height: 115%;
    width: 85%;
}

#solution__img3 {
    margin-top: -20px;
    margin-bottom: -30px;
    height: 180%;
    width: 80%;
}

@media screen and (max-width: 1300px) {
    .solution h1 {
        font-size: 3rem;
        margin-top: 10px;
    }

    .solution__wrapper {
        grid-template-columns: 1fr;
    }

    .solution__card {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .solution__wrapper {
        grid-template-columns: 1fr;
    }

    .solution h1:nth-child(3){
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
        font-size: 3rem;
    }
}

@media screen and (max-width: 690px) {
    .solution h1 {
        font-size: 2rem;
    }

    .solution h1:nth-child(3){
        font-size: 1.5rem;
    }
}

.footer__img--container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

#footer__img {
    margin-top: 100px;
    height: 30%;
    width: 30%;
}

.footer__content {
    color: #36343b;
    text-align: center;
    font-weight: 50;
}